 

CREATE TABLE [dbo].[g0BNits](
	[CodTercero] [varchar](20) NOT NULL,
	[nit_cedu] [varchar](18) NULL,
	[dg_verif] [varchar](1) NULL,
	[tipo_per] [varchar](20) NULL,
	[nom_terc] [varchar](80) NULL,
	[cod_ciud] [varchar](20) NULL,
	[direccio] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Telefono] [varchar](100) NULL,
	[Fax] [varchar](20) NULL,
	[E_Mail] [varchar](100) NULL,
	[CatTercero] [varchar](20) NULL,
	[Grupo_ter] [varchar](20) NULL,
	[PrioridadPago] [varchar](30) NULL,
	[TipoRelacion] [varchar](30) NULL,
	[DiasPago] [numeric](18, 0) NULL,
	[E M P L E A D O S] [bit] NULL,
	[Tipoiden] [varchar](10) NULL,
	[SexoEmp] [varchar](10) NULL,
	[TSangre] [varchar](3) NULL,
	[FecNaci] [datetime] NULL,
	[CiudNaci] [varchar](30) NULL,
	[Nom_Emp] [varchar](80) NULL,
	[apeEm1] [varchar](50) NULL,
	[apeEm2] [varchar](50) NULL,
	[Fotografia] [varchar](400) NULL,
	[C O M E R C I A L E S] [bit] NULL,
	[DesParciales] [int] NULL,
	[CupoCredito] [float] NULL,
	[FormaPago] [varchar](50) NULL,
	[RefTercero] [varchar](20) NULL,
	[Vendedor] [varchar](20) NULL,
	[Cobrador] [varchar](20) NULL,
	[ZonaA] [varchar](10) NULL,
	[ZonaB] [varchar](10) NULL,
	[ZonaC] [varchar](10) NULL,
	[ZonaD] [varchar](10) NULL,
	[Representante] [varchar](20) NULL,
	[ZipCode] [varchar](20) NULL,
	[Ciudad] [varchar](50) NULL,
	[Evaluar] [varchar](20) NULL,
	[T R I B U T A R I  A S] [varchar](20) NULL,
	[TipoContrib] [varchar](20) NULL,
	[TipoRETE] [varchar](20) NULL,
	[TipoICA] [varchar](20) NULL,
	[Sucursal] [varchar](20) NULL,
	[PcICA] [decimal](18, 4) NULL,
	[RUT] [varchar](20) NULL,
	[ResolucionRete] [varchar](50) NULL,
	[FechaResoRete] [datetime] NULL,
	[ActEconomica] [varchar](20) NULL,
	[T E S O R E R I A] [bit] NULL,
	[TipoCuenta] [varchar](50) NULL,
	[BcoTercero] [varchar](50) NULL,
	[CtaTercero] [varchar](50) NULL,
	[C O N T R O L] [bit] NULL,
	[FecRegistro] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Estado] [char](1) NULL,
	[TermId] [varchar](50) NULL,
	[APARTADO] [varchar](10) NULL,
	[DEPARTAMENTO] [varchar](10) NULL,
	[GranContr] [varchar](2) NULL,
	[AutoRete] [varchar](2) NULL,
	[RegimenIva] [varchar](2) NULL,
	[ManejaICA] [varchar](2) NULL,
	[TipoRedondeo] [varchar](2) NULL,
	[ResGranContr] [varchar](50) NULL,
	[FecGranContr] [datetime] NULL,
	[ResolucionIva] [varchar](50) NULL,
	[FechaResoIva] [datetime] NULL,
	[NomEm2] [varchar](80) NULL,
	[Verificar] [varchar](20) NULL,
	[Equiva] [varchar](1) NULL,
	[AbcClientes] [varchar](5) NULL,
	[Categoria] [varchar](20) NULL,
	[CodTransportador] [varchar](1) NULL,
	[NumContrato] [varchar](20) NULL,
	[AbcManual] [varchar](20) NULL,
	[GrupoCartera] [varchar](20) NULL,
	[TipoDescuento] [varchar](20) NULL,
	[Celular] [varchar](10) NULL,
	[Ocupacion] [varchar](30) NULL,
 CONSTRAINT [PK_g0BNits] PRIMARY KEY CLUSTERED 
(
	[CodTercero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


 

Create function [dbo].[Fnc_Edad] (@FechaNac as datetime) returns int
as

Begin

declare @edad as int

set @edad = datediff(year,@FechaNac,getdate())

if month(@FechaNac)>month(getdate())
   set @edad = @edad -1
else
   if  (month(@FechaNac)=month(getdate()) and day (@FechaNac)> day(getdate()))
        set @edad = @edad -1

return @edad

end

GO




CREATE TABLE [dbo].[B0Estudiantes](
	[CodEstudiante] [varchar](10) NOT NULL,
	[Apellidos] [varchar](30) NOT NULL,
	[Nombres] [varchar](30) NOT NULL,
	[TipoDocuId] [varchar](50) NULL,
	[DocumId] [varchar](50) NULL,
	[FechaIng] [datetime] NULL,
	[FechaNac] [datetime] NULL,
	[CiudadNac] [varchar](50) NULL,
	[DptoNac] [varchar](50) NULL,
	[PaisNac] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Sexo] [char](1) NULL,
	[Padre] [varchar](50) NULL,
	[Madre] [varchar](50) NULL,
	[NitAcudiente] [varchar](20) NULL,
	[OcupacionP] [varchar](50) NULL,
	[OcupacionM] [varchar](50) NULL,
	[DireccionP] [varchar](50) NULL,
	[DireccionM] [varchar](50) NULL,
	[TelefonoP] [varchar](20) NULL,
	[TelefonoM] [varchar](20) NULL,
	[EmailP] [varchar](50) NULL,
	[EmailM] [varchar](50) NULL,
	[EmailAc] [varchar](50) NULL,
	[CelularP] [varchar](20) NULL,
	[CelularM] [varchar](20) NULL,
	[CelularAc] [varchar](20) NULL,
	[TelOficinaP] [varchar](20) NULL,
	[TelOficinaM] [varchar](20) NULL,
	[TelOficinaAc] [varchar](20) NULL,
	[Religion] [varchar](50) NULL,
	[Comentario] [varchar](200) NULL,
	[InstitucionAnt] [varchar](100) NULL,
	[EmerContacto] [varchar](50) NULL,
	[EmerTel] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[AnoIngreso] [int] NULL,
	[ExpedidoEn] [varchar](50) NULL,
	[OcupacionAc] [varchar](30) NULL,
	[DireccionAc] [varchar](50) NULL,
	[Nuevo] [varchar](10) NULL,
	[ColAnterior] [varchar](40) NULL,
	[TipoSangre] [varchar](10) NULL,
	[rh] [varchar](10) NULL,
	[anoscumplidos]  AS ([dbo].[fnc_edad]([FechaNac])),
	[cedulaP] [varchar](15) NULL,
	[cedulaM] [varchar](15) NULL,
 CONSTRAINT [PK_B0Estudiantes] PRIMARY KEY CLUSTERED 
(
	[CodEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B1Matriculas]    Script Date: 6/12/2025 3:21:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1Matriculas](
	[IdMatricula] [int] IDENTITY(1,1) NOT NULL,
	[Ano] [int] NOT NULL,
	[CodEstudiante] [varchar](10) NOT NULL,
	[NumeroMat] [int] NOT NULL,
	[FecMatricula] [datetime] NULL,
	[Grado] [varchar](5) NULL,
	[Grupo] [varchar](10) NULL,
	[Jornada] [varchar](10) NULL,
	[NroLista] [tinyint] NULL,
	[PcDescuentoP] [tinyint] NOT NULL,
	[pcDescuentoM] [tinyint] NOT NULL,
	[CodRetiro] [varchar](2) NULL,
	[ComentarioRet] [varchar](200) NULL,
	[NitAcudiente] [varchar](20) NULL,
	[FecRetiro] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[TermId] [varchar](30) NULL,
	[FecRegistro] [datetime] NULL,
	[Estado] [varchar](15) NULL,
	[CodEmpresa] [varchar](10) NULL,
	[NMatAux] [varchar](10) NULL,
	[Nivel] [int] NULL,
	[PSalvo] [varchar](10) NULL,
	[Repitente] [varchar](10) NULL,
	[Nuevo] [varchar](10) NULL,
	[ColAnterior] [varchar](40) NULL,
	[ActRecupera] [varchar](40) NULL,
	[promover] [bit] NULL,
	[Seguimiento] [bit] NULL,
	[piar] [bit] NULL,
 CONSTRAINT [PK_B1Matriculas] PRIMARY KEY CLUSTERED 
(
	[IdMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_B1Matriculas] UNIQUE NONCLUSTERED 
(
	[Ano] ASC,
	[CodEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[B0Estudiantes] ADD  DEFAULT ('0') FOR [cedulaP]
GO
ALTER TABLE [dbo].[B0Estudiantes] ADD  DEFAULT ('0') FOR [cedulaM]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  CONSTRAINT [DF_B1Matriculas_PcDescuentoP]  DEFAULT (0) FOR [PcDescuentoP]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  CONSTRAINT [DF_B1Matriculas_pcDescuentoM]  DEFAULT (0) FOR [pcDescuentoM]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  CONSTRAINT [DF_B1Matriculas_Estado]  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  CONSTRAINT [DF__b1matricu__CodEm__0BE6BFCF]  DEFAULT ('001') FOR [CodEmpresa]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  DEFAULT ((1)) FOR [promover]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  DEFAULT ((0)) FOR [Seguimiento]
GO
ALTER TABLE [dbo].[B1Matriculas] ADD  DEFAULT ((0)) FOR [piar]
GO
ALTER TABLE [dbo].[B1Matriculas]  WITH NOCHECK ADD  CONSTRAINT [FK_B1Matriculas_B0Estudiantes] FOREIGN KEY([CodEstudiante])
REFERENCES [dbo].[B0Estudiantes] ([CodEstudiante])
GO
ALTER TABLE [dbo].[B1Matriculas] CHECK CONSTRAINT [FK_B1Matriculas_B0Estudiantes]
GO
ALTER TABLE [dbo].[B1Matriculas]  WITH CHECK ADD  CONSTRAINT [FK_NITACUDIENTE_G0BNITS1] FOREIGN KEY([NitAcudiente])
REFERENCES [dbo].[g0BNits] ([CodTercero])
GO
ALTER TABLE [dbo].[B1Matriculas] CHECK CONSTRAINT [FK_NITACUDIENTE_G0BNITS1]
GO
ALTER TABLE [dbo].[B0Estudiantes]  WITH NOCHECK ADD  CONSTRAINT [Sexo_Valido] CHECK  (([Sexo] = 'F' or [Sexo] = 'M'))
GO
ALTER TABLE [dbo].[B0Estudiantes] CHECK CONSTRAINT [Sexo_Valido]
GO
ALTER TABLE [dbo].[B1Matriculas]  WITH NOCHECK ADD  CONSTRAINT [pc_Descuento_Valido] CHECK  (([PcDescuentoM] >= 0 and [PcDescuentoM] <= 100))
GO
ALTER TABLE [dbo].[B1Matriculas] CHECK CONSTRAINT [pc_Descuento_Valido]
GO
ALTER TABLE [dbo].[B1Matriculas]  WITH NOCHECK ADD  CONSTRAINT [pc_Descuento_ValidoP] CHECK  (([PcDescuentoP] >= 0 and [PcDescuentoP] <= 100))
GO
ALTER TABLE [dbo].[B1Matriculas] CHECK CONSTRAINT [pc_Descuento_ValidoP]
GO
