 
 

create Function [dbo].[Fnc_getCodplanilla]
( @ano  int,
  @grado varchar(5),
  @grupo as varchar(5),
  @periodo tinyint,
  @codasignatura as varchar(5)

) 
Returns varchar(40)
as
Begin

---esta funcion retorna codigo de planilla si existe o si se crea

--a. Valida el nro de logros
  Declare @nroLogr as tinyint
  Declare @nroCont as tinyint
  Declare @Codplanilla as  varchar(40)

  ---Codplanilla = Ano + periodo + grado + grupo + codasignatura
  set @Codplanilla= cast(@ano as varchar(4)) + cast(@periodo as varchar(1)) + ltrim( rtrim(@grado)) +ltrim( rtrim(@grupo)) + ltrim( rtrim(@codasignatura))

  Select @nroLogr =count(*)   from B3indicadores where Ano=@ano
  and  Grado=@grado  and Periodo= @periodo  and CodAsignatura=@codasignatura 

  select @nroCont= nro_logros from s1controlusr 
  where Ano=@ano
  and Grado=@grado and CodAsignatura=@codasignatura 

  set @nroLogr=isnull(@nroLogr,0)
  set @nroCont=isnull(@nroCont,0)

  ---set @nroLogr=3
   
   if @nroCont=0
	    set @Codplanilla ='Falta parametrizar la cantidad de logros '  
    else
	   if @nroLogr<@nroCont
          set @Codplanilla ='Falta registrar logros en el periodo ' + cast(@periodo as varchar(1)) 
  
Return isnull(@Codplanilla ,'')

---select dbo.[Fnc_getCodplanilla](2026,'10','A',1,'011')
End

go

create procedure Pr_getListaLogros
(
  @codPlanilla as varchar(30),
  @usuario as varchar(30),
  @termId as varchar(30)

)
as begin

--consulta si existe la planilla o la crea
--termid es el nombre del computador
--usuario es el docente
--Codplanilla = Ano + periodo + grado + grupo + codasignatura

declare @ano  as varchar(4) 
declare @periodo as varchar(1)
declare @grado as varchar(2)
declare @grupo as varchar(1)
declare @codasignatura as varchar(3)

set @ano= left (@codPlanilla,4)
set @periodo=SUBSTRING(@codPlanilla,5,1)
set @grado=SUBSTRING(@codPlanilla,6,2)
set @grupo=SUBSTRING(@codPlanilla,8,1)
set @codasignatura=SUBSTRING(@codPlanilla,9,3)




if not exists( select idplanilla from b1planillas where codplanilla=rtrim(@codPlanilla))
begin

 insert into b1planillas (Codplanilla,Ano,Grado,Grupo,Periodo,CodAsignatura,Activo,FecRegistro, TermId, Usuario)
 values (@Codplanilla,@ano,@grado,@grupo,@periodo,@codasignatura,1,getdate(),@termId,@usuario)

end 

select Ano, CodLogro, TextoLg, Periodo, CantNotas, pc1, pc2, pc3, pc4, 
       grado, CodAsignatura, Consecut, Id
	   from b3indicadores
	   where ano=@ano  and periodo=@periodo and grado=@grado and CodAsignatura=@codasignatura

	   --exec Pr_getListaLogros '2026110A011','jose','equipo1'
end

go
create Function [dbo].[Fnc_IdPlanilla] ( @Codplanilla as varchar(15)) Returns int
as
Begin
--esta funcion devuelve el idplanilla correspondiente al registro o fila del codigo de planilla
Declare @Idp as int

select @idP = Idplanilla  from b1planillas where CodPlanilla=@Codplanilla


Return isnull(@Idp ,0)


 
End


go

