/****** Object:  Table [dbo].[B1SeguimientosNt]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1SeguimientosNt](
	[Ano] [int] NOT NULL,
	[Idmatricula] [int] NOT NULL,
	[CodLogro] [varchar](10) NOT NULL,
	[N1] [decimal](6, 1) NULL,
	[N2] [decimal](6, 1) NULL,
	[N3] [decimal](6, 1) NULL,
	[N4] [decimal](6, 1) NULL,
	[NR] [decimal](6, 1) NULL,
	[FecRegistro] [datetime] NULL,
	[Usuario] [varchar](30) NULL,
	[IdPlanilla] [int] NULL,
 CONSTRAINT [PK_B1SeguimientosNt] PRIMARY KEY CLUSTERED 
(
	[Idmatricula] ASC,
	[CodLogro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[QB1SeguimientosNt]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QB1SeguimientosNt]
AS
SELECT     dbo.B1SeguimientosNt.IdPlanilla, dbo.B1SeguimientosNt.Ano, dbo.B3Indicadores.Periodo, dbo.B1Matriculas.Grado, dbo.B1Matriculas.Grupo, dbo.B3Indicadores.CodAsignatura, 
                      dbo.B1Matriculas.Estado, dbo.B0Asignaturas.Asignatura, dbo.B1SeguimientosNt.Idmatricula, dbo.B0Estudiantes.Apellidos, dbo.B0Estudiantes.Nombres, dbo.B1SeguimientosNt.CodLogro, 
                      dbo.B3Indicadores.TextoLg, dbo.B3Indicadores.CantNotas, dbo.B1SeguimientosNt.N1, dbo.B3Indicadores.pc1, dbo.B1SeguimientosNt.N2, dbo.B3Indicadores.pc2, dbo.B1SeguimientosNt.N3, 
                      dbo.B3Indicadores.pc3, dbo.B1SeguimientosNt.N4, dbo.B3Indicadores.pc4, dbo.B1SeguimientosNt.NR, dbo.B3Indicadores.FactorRec, dbo.B3Indicadores.FactorUp, dbo.B3Indicadores.FactorDw, 
                      dbo.B1SeguimientosNt.Usuario, dbo.B1SeguimientosNt.FecRegistro, dbo.B1Matriculas.Seguimiento
FROM         dbo.B1SeguimientosNt INNER JOIN
                      dbo.B3Indicadores ON dbo.B1SeguimientosNt.Ano = dbo.B3Indicadores.Ano AND dbo.B1SeguimientosNt.CodLogro = dbo.B3Indicadores.CodLogro INNER JOIN
                      dbo.B1Matriculas ON dbo.B1SeguimientosNt.Idmatricula = dbo.B1Matriculas.IdMatricula INNER JOIN
                      dbo.B0Estudiantes ON dbo.B1Matriculas.CodEstudiante = dbo.B0Estudiantes.CodEstudiante INNER JOIN
                      dbo.B0Asignaturas ON dbo.B3Indicadores.CodAsignatura = dbo.B0Asignaturas.CodAsignatura
WHERE     (dbo.B1SeguimientosNt.Ano >=dbo.[Fnc_Defano]()-1) and (dbo.B1Matriculas.Estado in ('0','A'))
GO
/****** Object:  Table [dbo].[B1Planillas]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1Planillas](
	[CodPlanilla] [varchar](15) NOT NULL,
	[Ano] [int] NULL,
	[Grado] [varchar](5) NULL,
	[Grupo] [varchar](10) NULL,
	[Periodo] [int] NULL,
	[CodAsignatura] [char](5) NULL,
	[FechaVigencia] [datetime] NULL,
	[Activo] [bit] NULL,
	[FecRegistro] [datetime] NULL,
	[TermId] [varchar](30) NULL,
	[Usuario] [varchar](30) NULL,
	[IdPlanilla] [int] IDENTITY(1,1) NOT NULL,
	[NroLogros] [int] NULL,
 CONSTRAINT [PK_B1PLANILLAS] PRIMARY KEY CLUSTERED 
(
	[CodPlanilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[QB1Planillas]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QB1Planillas]
AS
SELECT     dbo.B0Asignaturas.Asignatura, dbo.B1Planillas.CodPlanilla, dbo.B1Planillas.Ano, dbo.B1Planillas.Grado, dbo.B1Planillas.Grupo, dbo.B1Planillas.Periodo, 
                      dbo.B1Planillas.CodAsignatura, dbo.B1Planillas.Activo, dbo.B1Planillas.FechaVigencia, dbo.B1Planillas.FecRegistro, dbo.B1Planillas.TermId, 
                      dbo.B1Planillas.IdPlanilla,  NroLogros, 
                      dbo.Fnc_Docente(dbo.B1Planillas.Ano, dbo.B1Planillas.Grado, dbo.B1Planillas.Grupo, dbo.B1Planillas.CodAsignatura) AS Docente,
					  B0Asignaturas.Secuencia
FROM         dbo.B1Planillas INNER JOIN
                      dbo.B0Asignaturas ON dbo.B1Planillas.CodAsignatura = dbo.B0Asignaturas.CodAsignatura
GO
/****** Object:  Table [dbo].[B1SeguimientosOtr]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1SeguimientosOtr](
	[Ano] [int] NOT NULL,
	[Idmatricula] [int] NOT NULL,
	[IdPlanilla] [int] NOT NULL,
	[Nicfes] [decimal](6, 1) NULL,
	[Ausencias] [int] NULL,
	[NotaRP] [decimal](6, 1) NULL,
	[NotaRF] [decimal](6, 1) NULL,
	[NotaNiv] [decimal](6, 1) NULL,
	[NotaEU] [decimal](6, 1) NULL,
 CONSTRAINT [PK_B1SeguimientosOtr] PRIMARY KEY CLUSTERED 
(
	[Ano] ASC,
	[Idmatricula] ASC,
	[IdPlanilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Qb1SeguimientosOtr]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Qb1SeguimientosOtr]
AS
SELECT     dbo.B1SeguimientosOtr.Ano, dbo.QB1Planillas.Periodo, dbo.B1Matriculas.Grado, dbo.B1Matriculas.Grupo, dbo.QB1Planillas.CodAsignatura, 
                      dbo.QB1Planillas.Asignatura, dbo.B0Estudiantes.Apellidos, dbo.B0Estudiantes.Nombres, dbo.B1SeguimientosOtr.Nicfes, dbo.B1SeguimientosOtr.Ausencias, 
                      dbo.B1SeguimientosOtr.IdPlanilla, dbo.B1SeguimientosOtr.Idmatricula ,
dbo.B1SeguimientosOtr.NotaRP,dbo.B1SeguimientosOtr.NotaRF,dbo.B1SeguimientosOtr.NotaNiv,dbo.B1SeguimientosOtr.NotaEU, dbo.QB1Planillas.secuencia
FROM         dbo.B1SeguimientosOtr INNER JOIN
                      dbo.B1Matriculas ON dbo.B1SeguimientosOtr.Idmatricula = dbo.B1Matriculas.IdMatricula INNER JOIN
                      dbo.B0Estudiantes ON dbo.B1Matriculas.CodEstudiante = dbo.B0Estudiantes.CodEstudiante INNER JOIN
                      dbo.QB1Planillas ON dbo.B1SeguimientosOtr.IdPlanilla = dbo.QB1Planillas.IdPlanilla
GO
/****** Object:  Table [dbo].[B1SeguimientosObs]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1SeguimientosObs](
	[Ano] [int] NOT NULL,
	[Idmatricula] [int] NOT NULL,
	[IdPlanilla] [int] NOT NULL,
	[Comentario] [varchar](255) NULL,
 CONSTRAINT [PK_B1SeguimientosObs] PRIMARY KEY CLUSTERED 
(
	[Ano] ASC,
	[Idmatricula] ASC,
	[IdPlanilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Qb1seguimientosObs]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Qb1seguimientosObs]
AS
SELECT     dbo.B1SeguimientosObs.Ano, dbo.QB1Planillas.Periodo, dbo.B1Matriculas.Grado, dbo.B1Matriculas.Grupo, dbo.B0Estudiantes.Apellidos, dbo.B0Estudiantes.Nombres, 
                      dbo.QB1Planillas.CodAsignatura, dbo.QB1Planillas.Asignatura, dbo.B1SeguimientosObs.Comentario, dbo.B1SeguimientosObs.Idmatricula, dbo.B1SeguimientosObs.IdPlanilla
FROM         dbo.QB1Planillas INNER JOIN
                      dbo.B1SeguimientosObs ON dbo.QB1Planillas.Ano = dbo.B1SeguimientosObs.Ano AND dbo.QB1Planillas.IdPlanilla = dbo.B1SeguimientosObs.IdPlanilla INNER JOIN
                      dbo.B1Matriculas INNER JOIN
                      dbo.B0Estudiantes ON dbo.B1Matriculas.CodEstudiante = dbo.B0Estudiantes.CodEstudiante ON dbo.B1SeguimientosObs.Idmatricula = dbo.B1Matriculas.IdMatricula
GO
/****** Object:  View [dbo].[QB2SeguimientosNt]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[QB2SeguimientosNt]
AS
SELECT     m.IdPlanilla, m.Ano, m.Periodo, m.Grado, m.Grupo, m.CodAsignatura, m.Asignatura, m.Idmatricula, m.Apellidos, m.Nombres, m.CodLogro, m.TextoLg, m.CantNotas, 
                      m.N1, m.pc1, m.N2, m.pc2, m.N3, m.pc3, m.N4, m.pc4, m.NR, m.FactorRec, m.FactorUp, m.FactorDw, m.Usuario, m.FecRegistro, 
                      (((m.N1 * m.pc1 * X.x1 + m.N2 * m.pc2 * X.x2) + m.N3 * m.pc3 * X.x3) + m.N4 * m.pc4 * X.x4) * 0.01 AS Nota, X.x1, X.x2, X.x3, X.x4,m.Seguimiento
FROM         dbo.QB1SeguimientosNt AS m INNER JOIN
                      dbo.QB1FactorNt AS X ON m.IdPlanilla = X.IdPlanilla AND m.CodLogro = X.CodLogro
GO
/****** Object:  View [dbo].[QB3SeguimientosNt]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[QB3SeguimientosNt]
AS
SELECT     IdPlanilla, Periodo, Ano, Grado, Grupo, CodAsignatura, Asignatura, Idmatricula, Apellidos, TextoLg, CodLogro, Nombres, CantNotas, N1, pc1, N2, pc2, N3, pc3, N4, pc4, 
                      NR, FactorRec, FactorUp, FactorDw, Nota, Usuario, FecRegistro, x1, x2, x3, x4, dbo.Fnc_Npr1(IdPlanilla, CodLogro, Idmatricula) AS NotaParcial, Seguimiento
FROM         dbo.QB2SeguimientosNt
GO
/****** Object:  Table [dbo].[B1observacionesNt]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1observacionesNt](
	[Ano] [int] NOT NULL,
	[Idmatricula] [int] NOT NULL,
	[Periodo] [int] NOT NULL,
	[CodObs] [varchar](10) NULL,
	[Nota] [decimal](6, 1) NULL,
	[CodObs2] [varchar](10) NULL,
	[CodObs3] [varchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Ano] ASC,
	[Idmatricula] ASC,
	[Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B1SeguimientosLog]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1SeguimientosLog](
	[Ano] [int] NOT NULL,
	[Periodo] [tinyint] NOT NULL,
	[IdMatricula] [numeric](18, 0) NOT NULL,
	[CodEstudiante] [varchar](10) NULL,
	[Idlog] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Grado] [varchar](10) NULL,
	[Grupo] [varchar](10) NULL,
	[FechaInforme] [datetime] NULL,
	[TipoInforme] [varchar](20) NULL,
	[EncabezadoInf] [varchar](1000) NULL,
	[PieInf] [varchar](1000) NULL,
	[Observacion] [varchar](1000) NULL,
	[FechaCitacion1] [datetime] NULL,
	[Hora1] [char](5) NULL,
	[FechaCitacion2] [datetime] NULL,
	[Hora2] [char](5) NULL,
	[NitAcudiente] [varchar](20) NULL,
	[Acudiente] [varchar](50) NULL,
	[Asistencia] [varchar](50) NULL,
	[Comentario] [varchar](300) NULL,
	[Estado] [varchar](15) NULL,
	[Noaprob] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B1SeguimientosLogM]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B1SeguimientosLogM](
	[IdLog] [numeric](18, 0) NOT NULL,
	[IdSeg] [numeric](18, 0) NOT NULL,
	[CodAsignatura] [varchar](5) NULL,
	[CodLogro] [varchar](10) NULL,
	[Descripcion] [varchar](500) NULL,
	[Asignatura] [varchar](50) NULL,
	[NtValida] [float] NULL,
	[NotaProm] [float] NULL,
	[FecRegistro] [datetime] NULL,
	[NotaVal] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B3EvaluacionesNt]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B3EvaluacionesNt](
	[IdPlan] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Item] [char](5) NULL,
	[Evaluacion] [varchar](20) NULL,
	[Detalle] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_B3EvaluacionesNt] PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B3EvRespuestas]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B3EvRespuestas](
	[IdRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[Idpregunta] [int] NULL,
	[NitDocente] [varchar](20) NULL,
	[CodAsignatura] [varchar](20) NULL,
	[CodEstudiante] [varchar](10) NULL,
	[VlrRp] [decimal](6, 2) NULL,
	[Grado] [varchar](10) NULL,
	[Grupo] [varchar](10) NULL,
 CONSTRAINT [PK_B3EvRespuestas] PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[B1observacionesNt] ADD  CONSTRAINT [DF_B1observacionesNt_Nota]  DEFAULT ((1)) FOR [Nota]
GO
ALTER TABLE [dbo].[B1Planillas] ADD  CONSTRAINT [DF_B1Planillas_Activo]  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[B1Planillas] ADD  DEFAULT ((0)) FOR [NroLogros]
GO
ALTER TABLE [dbo].[B1SeguimientosLog] ADD  DEFAULT (0) FOR [Noaprob]
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ADD  CONSTRAINT [DF_B1SeguimientosNt_N1]  DEFAULT ((0)) FOR [N1]
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ADD  CONSTRAINT [DF_B1SeguimientosNt_N2]  DEFAULT ((0)) FOR [N2]
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ADD  CONSTRAINT [DF_B1SeguimientosNt_N3]  DEFAULT ((0)) FOR [N3]
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ADD  CONSTRAINT [DF_B1SeguimientosNt_N4]  DEFAULT ((0)) FOR [N4]
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ADD  CONSTRAINT [DF_B1SeguimientosNt_NR]  DEFAULT ((0)) FOR [NR]
GO
ALTER TABLE [dbo].[B1SeguimientosOtr] ADD  CONSTRAINT [DF_B1SeguimientosOtr_Nicfes]  DEFAULT ((0)) FOR [Nicfes]
GO
ALTER TABLE [dbo].[B1SeguimientosOtr] ADD  CONSTRAINT [DF_B1SeguimientosOtr_Ausencias]  DEFAULT ((0)) FOR [Ausencias]
GO
ALTER TABLE [dbo].[B1SeguimientosOtr] ADD  DEFAULT ((0.0)) FOR [NotaRP]
GO
ALTER TABLE [dbo].[B1SeguimientosOtr] ADD  DEFAULT ((0.0)) FOR [NotaRF]
GO
ALTER TABLE [dbo].[B1SeguimientosOtr] ADD  DEFAULT ((0.0)) FOR [NotaNiv]
GO
ALTER TABLE [dbo].[B1SeguimientosOtr] ADD  DEFAULT ((0.0)) FOR [NotaEU]
GO
ALTER TABLE [dbo].[B1Planillas]  WITH CHECK ADD  CONSTRAINT [FK_B1Planillas_B0Asignaturas] FOREIGN KEY([CodAsignatura])
REFERENCES [dbo].[B0Asignaturas] ([CodAsignatura])
GO
ALTER TABLE [dbo].[B1Planillas] CHECK CONSTRAINT [FK_B1Planillas_B0Asignaturas]
GO
ALTER TABLE [dbo].[B1Planillas]  WITH CHECK ADD  CONSTRAINT [FK_B1Planillas_B0years] FOREIGN KEY([Ano])
REFERENCES [dbo].[B0years] ([Ano])
GO
ALTER TABLE [dbo].[B1Planillas] CHECK CONSTRAINT [FK_B1Planillas_B0years]
GO
ALTER TABLE [dbo].[B1SeguimientosNt]  WITH CHECK ADD  CONSTRAINT [FK_B1SeguimientosNt_B1SeguimientosNt] FOREIGN KEY([Idmatricula], [CodLogro])
REFERENCES [dbo].[B1SeguimientosNt] ([Idmatricula], [CodLogro])
GO
ALTER TABLE [dbo].[B1SeguimientosNt] CHECK CONSTRAINT [FK_B1SeguimientosNt_B1SeguimientosNt]
GO
ALTER TABLE [dbo].[B1SeguimientosNt]  WITH CHECK ADD  CONSTRAINT [FK_B1SeguimientosNt_B3Indicadores] FOREIGN KEY([Idmatricula])
REFERENCES [dbo].[B1Matriculas] ([IdMatricula])
GO
ALTER TABLE [dbo].[B1SeguimientosNt] CHECK CONSTRAINT [FK_B1SeguimientosNt_B3Indicadores]
GO
ALTER TABLE [dbo].[B3EvaluacionesNt]  WITH CHECK ADD  CONSTRAINT [FK_B3EvaluacionesNt_B3EvaluacionesNt] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[B3EvaluacionesNt] ([IdPlan])
GO
ALTER TABLE [dbo].[B3EvaluacionesNt] CHECK CONSTRAINT [FK_B3EvaluacionesNt_B3EvaluacionesNt]
GO
ALTER TABLE [dbo].[B3EvRespuestas]  WITH NOCHECK ADD  CONSTRAINT [FK_B3EvRespuestas_B1EvaluacionM] FOREIGN KEY([Idpregunta])
REFERENCES [dbo].[B1EvaluacionM] ([IdPregunta])
GO
ALTER TABLE [dbo].[B3EvRespuestas] CHECK CONSTRAINT [FK_B3EvRespuestas_B1EvaluacionM]
GO
ALTER TABLE [dbo].[B1observacionesNt]  WITH NOCHECK ADD  CONSTRAINT [Constr_notavalida] CHECK  (([nota]>=(1) AND [nota]<=(100)))
GO
ALTER TABLE [dbo].[B1observacionesNt] CHECK CONSTRAINT [Constr_notavalida]
GO
/****** Object:  Trigger [dbo].[Trg_InsertaGrupo]    Script Date: 11/01/2026 6:45:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[Trg_InsertaGrupo]
on [dbo].[B1Planillas]
For insert 
as 
Begin

If (select count(*) from Inserted)>0
Begin

Declare @codPl as varchar(15)
Declare @Periodo as int
Declare @codasig as varchar(10)
Declare @ano as int
Declare @grado as varchar(10)

 Declare Crl cursor For 
        Select Codplanilla,Periodo,ano, codAsignatura,@grado from  inserted 

        Open Crl
         
        Fetch Next from Crl into @codPl,@Periodo,@ano,@codasig,@grado
        While @@Fetch_Status = 0 
        Begin 
          
          insert into B1SeguimientosNt(Ano,Idmatricula,CodLogro,IdPlanilla)
          SELECT M.Ano,  M.IdMatricula, L.CodLogro,i.Idplanilla
          FROM 
           (Select Codlogro,ano,grado,codAsignatura,periodo from 
           B3Indicadores where periodo=@Periodo and ano=@ano and codAsignatura=@codAsig) L
           
           INNER JOIN
          B1Matriculas M ON  L.Ano =  M.Ano AND  L.grado =  M.Grado INNER JOIN
          Inserted i ON  L.Ano =  i.Ano AND  L.grado =  i.Grado AND 
          L.CodAsignatura =  I.CodAsignatura AND  M.Grado =  I.Grado AND 
          M.Grupo =  I.Grupo and L.periodo=I.periodo
          where i.CodPlanilla=@codPl 
		  and [dbo].[Fnc_Activo] (M.idMatricula) in ('0','A')

          if @@rowcount=0
          begin
             close Crl
             deallocate Crl
             raisError('No se pudo crear la planilla',16,1)
             Rollback transaction
            
             goto sale
          end
          else
          
          Insert into B1SeguimientosOtr(Ano,Idmatricula,IdPlanilla)
          Select i.Ano,m.Idmatricula,i.IdPlanilla
          from inserted i
          inner join b1matriculas m
          on i.ano= m.ano
          and i.grado=m.grado
          and i.grupo=m.grupo
          where  i.CodPlanilla=@codPl
          
          update B1Planillas set Nrologros= dbo.Fnc_NroLogros(@ano,@grado,@codasig)
          where codplanilla=@codPl
          
          Fetch Next from Crl into @codPl,@Periodo,@ano,@codasig,@grado
       end 
       Close Crl
       Deallocate Crl
   sale:
End
end

GO
ALTER TABLE [dbo].[B1Planillas] ENABLE TRIGGER [Trg_InsertaGrupo]
GO
/****** Object:  Trigger [dbo].[Trg_ActualizaCorte_Id]    Script Date: 11/01/2026 6:45:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[Trg_ActualizaCorte_Id] on [dbo].[B1SeguimientosNt]
for Update
as
Begin
  
if (Select Count(*) from Inserted )> 0

Begin	
	   
	   if update (N1) or update(N2) or update(N3) or update (N4) or Update (NR)
	   Begin
      
       Declare @idmatricula as int
       Declare @idPlanilla as int
       Declare @Codlogro as Varchar(10) 
      
       
	   Declare  CrQ Cursor
	   for select idPlanilla,idmatricula,Codlogro from inserted
	
	
	
	   Open CrQ
	   Fetch Next from CrQ into @idPlanilla,@idmatricula,@Codlogro
	
	    
	
	   While @@fetch_status =0 
	   Begin
	       
	      
	        
			exec [PrGeneraPlanilla_Id] @idPlanilla, @idmatricula, @Codlogro

	         Fetch Next from CrQ into @idPlanilla,@idmatricula,@Codlogro
	   	End
    	Close CrQ
    	Deallocate CrQ
    	End
      
End
End
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ENABLE TRIGGER [Trg_ActualizaCorte_Id]
GO
/****** Object:  Trigger [dbo].[Trg_controlaNota_Sinpc]    Script Date: 11/01/2026 6:45:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[Trg_controlaNota_Sinpc] on [dbo].[B1SeguimientosNt]
for Update
as
Begin
  
if (Select Count(*) from Inserted )> 0

Begin	
	   
	   if  update(N2) or update(N3) or update (N4)  
	   Begin
      
       Declare @pc as decimal(6,2)
	     

       Declare @idPlanilla as int
	   Declare @idmatricula as int
       Declare @Codlogro as Varchar(10) 
       Declare @ano as int
	   Declare @n2 as decimal(6,1)
	   Declare @n3 as decimal(6,1)
	   Declare @n4 as decimal(6,1)
       
	   Declare  Crz Cursor
	   for select ano, Codlogro, n2, n3, n4, idmatricula, idplanilla from inserted for update  
	   Open Crz
	   Fetch Next from Crz into @ano, @Codlogro, @n2,@n3, @n4 ,@idmatricula,@idPlanilla
	   
	   While @@fetch_status =0 
	   Begin
	       
	      if @n4<>0.0
	       begin
		      set @pc=0
	           select @pc=pc4 from b3indicadores where codlogro=@codlogro
	                 and ano=@ano
		             if isnull(@pc,0.0)=0.0
			             UPDATE b1seguimientosnt set n4=0
						 where idmatricula=@idmatricula and idplanilla=@idplanilla 
						 and codlogro=@codlogro
					 
 
           end

		   if @n3<>0.0
	       begin
		       set @pc=0
	           select @pc=pc3 from b3indicadores where codlogro=@codlogro
	                 and ano=@ano
		             if isnull(@pc,0.0)=0.0
			         UPDATE b1seguimientosnt set n3=0
					 where idmatricula=@idmatricula and idplanilla=@idplanilla 
					 and codlogro=@codlogro
			
           end

		   if @n2<>0.0
	       begin
		    set @pc=0
	           select @pc=pc2 from b3indicadores where codlogro=@codlogro
	                 and ano=@ano
		             if isnull(@pc,0.0)=0.0
			         UPDATE b1seguimientosnt set n2=0
					 where idmatricula=@idmatricula and idplanilla=@idplanilla 
					 and codlogro=@codlogro
			
           end

	         Fetch Next from Crz into @ano, @Codlogro, @n2,@n3, @n4 ,@idmatricula,@idPlanilla
	   	End
    	Close Crz
    	Deallocate Crz
    	End
      
End
End
GO
ALTER TABLE [dbo].[B1SeguimientosNt] ENABLE TRIGGER [Trg_controlaNota_Sinpc]
GO
