USE [medalla_Web]
GO
/****** Objeto: UserDefinedFunction [dbo].[Fnc_getCodplanilla] Fecha de script: 17/08/2026 11:13:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

ALTER Function [dbo].[Fnc_getCodplanilla]
( 
  @grado varchar(5),
  @grupo as varchar(5),
  @periodo tinyint,
  @codasignatura as varchar(5)

) 
Returns varchar(40)
as
Begin

---esta funcion retorna codigo de planilla si existe o si se crea

--a. Valida el nro de logros
  declare @ano  int
  Declare @nroLogr as tinyint
  Declare @nroCont as tinyint
  Declare @Codplanilla as  varchar(40)

  set @ano = year(getdate())

  ---Codplanilla = Ano + periodo + grado + grupo + codasignatura
  set @Codplanilla= cast(@ano as varchar(4)) + cast(@periodo as varchar(1)) + ltrim( rtrim(@grado)) +ltrim( rtrim(@grupo)) + ltrim( rtrim(@codasignatura))

  Select @nroLogr =count(*)   from B3indicadores where Ano=@ano
  and  Grado=@grado  and Periodo= @periodo  and CodAsignatura=@codasignatura 

  select @nroCont= nro_logros from s1controlusr 
  where Ano=@ano
  and Grado=@grado and CodAsignatura=@codasignatura 

  set @nroLogr=isnull(@nroLogr,0)
  set @nroCont=isnull(@nroCont,0)

  ---set @nroLogr=3
   
   if @nroCont=0
	    set @Codplanilla ='Falta parametrizar la cantidad de logros '  
    else
	   if @nroLogr<@nroCont
          set @Codplanilla ='Falta registrar logros en el periodo ' + cast(@periodo as varchar(1)) 
  
Return isnull(@Codplanilla ,'')

---select dbo.[Fnc_getCodplanilla](2026,'10','A',1,'011')
End

