USE [medalla_Web]
GO
/****** Objeto: UserDefinedFunction [dbo].[Fnc_Defano] Fecha de script: 20/08/2026 8:33:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER function [dbo].[Fnc_Defano]() returns int

as

begin

declare @defano as varchar(10)
declare @ano as int

set @ano=  year(getdate())

select @defano = Valorparametro from w0parametros where parametro='Default_Ano'

if @@rowcount > 0

   if isnumeric(@defano)=1
        set @ano=cast(@defano as int)

return @ano

end
